# PostgreSQL Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=report_platform

# API Configuration
DATABASE_URL=postgresql://user:password@db:5432/report_platform?schema=public
REDIS_HOST=redis
REDIS_PORT=6379

# Frontend Configuration
VITE_API_URL=http://localhost:3001
